<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patrickdfarley.capacitysheetwidget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>

            </intent-filter>
        </activity>

        <receiver android:name="CapacityWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- The AppWidgetManager automatically sends all other App Widget broadcasts to the AppWidgetProvider as necessary. -->

                <action android:name="com.patrickdfarley.capacitysheetwidget.ENTRY_BUTTON0" />
                <action android:name="com.patrickdfarley.capacitysheetwidget.ENTRY_BUTTON1" />
                <action android:name="com.patrickdfarley.capacitysheetwidget.ENTRY_BUTTON2" />
                <action android:name="com.patrickdfarley.capacitysheetwidget.ENTRY_BUTTON3" />
                <action android:name="com.patrickdfarley.capacitysheetwidget.ENTRY_BUTTON4" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/capacity_appwidget_info" />
        </receiver>
    </application>

</manifest>